<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Videos List</title>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4993685121054900"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Uploaded Videos</h1>
    <table>
      <thead>
        <tr>
          <th>Video Title</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>Upload Time</th>
          <th>Approval Status</th>
        </tr>
      </thead>
      <tbody>
        <% videos.forEach(function(video) { %>
        <tr>
          <td><%= video.video_url %></td>
          <td><%= video.user_name %></td>
          <td><%= video.user_email %></td>
          <td><%= video.upload_time %></td>
          <td><%= video.approved ? 'Approved' : 'Pending' %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
