<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yiniz</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/animate.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <%- include('ads.ejs') %>
  </head>
  <body class="bg-light">
    <section class="loading">
      <canvas id="canvas"></canvas>
      <img
        src="/images/yinizlogo.png"
        alt="yiniz"
        class="load_img animate__animated animate__pulse animate__infinite"
      />

      <p class="text-muted site-motto">...Where news and business meet fun</p>
    </section>
    <section class="content d-none">
      <!-- Landing Page Content -->
      <div class="">
        <div id="main-header" class="header">
          <div class="container-fluid">
            <div class="row align-items-center">
              <!-- Yiniz content -->
              <div class="col-lg-6 order-lg-1" id="header-stagnat">
                <div class="d-flex justify-content-between align-items-center">
                  <h3 class="mb-2 mb-lg-0 site-name">Yiniz</h3>
                  <!-- Menu button for mobile -->
                  <button
                    class="navbar-toggler d-lg-none btn bg-dark text-white p-2"
                    type="button"
                    id="menu-toggle"
                  >
                    <span id="menu-icon">Menu</span>
                  </button>
                </div>
                <!-- Navigation menu for mobile -->
                <ul
                  class="nav d-lg-none justify-content-between align-items-center"
                  id="nav-menu"
                  style="display: none"
                >
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#About">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/ecommerce">E-Commerce</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/edu">Edutech</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/games">Games</a>
                  </li>
                </ul>
                <p class="text-light opacity-25 mb-0 site-slogan">
                  ...Where news and business meet fun
                </p>
              </div>
              <div class="mt-5 head-text w-50">
                <h2 class="h2 text-left head-text_heading">
                  Everything at a glance for you!
                </h2>
                <p class="text-light head-text_para">
                  Welcome to the stage of fun, exciting and trilling stories,
                  and even buying and selling that suits your desire
                </p>
                <button class="btn btn-dark text-light"><a href="#explore" class="text-white">Explore</a></button>
              </div>
              <!-- Image column -->
              <div class="col-lg-6 order-lg-2">
                <img src="/images/world.png" alt="" class="anim img-fluid" />
              </div>
            </div>
          </div>
        </div>

        <!-- Floating Cards -->
        <h3
          class="text-center p-3 serv_txt"
          style="margin-top: 8em; color: #040d17; "
        >
          Our Services
        </h3>
        <div id="ourServicesContent" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% cards.forEach((card, index) => { %>
              <li data-target="#ourServicesContent" data-slide-to="<%= index %>" <%= index === 0 ? 'class="active"' : '' %>></li>
            <% }); %>
          </ol>
          <div class="carousel-inner">
            <% cards.forEach((card, index) => { %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>" style="background-image: url('/images/<%= card.src %>.jpg')">
                <div class="covered"></div>
                <a href="<%= card.link %>" class="serv_content">
                  <div class="carousel-caption d-none d-md-block">
                    <h5><%= card.title %></h5>
                    <p><%= card.content %></p>
                  </div>
                </a>
              </div>
            <% }); %>
          </div>
          <a class="carousel-control-prev" href="#ourServicesContent" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#ourServicesContent" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


        <!-- Explore -->
        <h3
          class="text-center p-3 serv_txt"
          style="margin-top: 8em; color: #040d17; "
          id="explore"
        >
          Explore
        </h3>
        <div class="explore_float_card explore_div">
          <% cards.forEach(card => { %>
          <div class="mb-1">
            <div
              class="card explore_floating"
              style="background: url('/images/<%= card.src %>.jpg')"
            >
              <div class="explore_covered"></div>
              <a href="<%= card.link  %>" class="serv_content">
                <div class="card-body explore_contents">
                  <h5 class="card-title" style="border-image: url('/images/<%= card.src %>.jpg');"><%= card.title %></h5>
                  <p class="card-text text-white"><%= card.content %></p>

                  <p class="card-text explore_info pt-5 text-white mb-5">
                    <%= card.explore %>
                  </p>

                  <button class="card-btn btn btn-stripped btn-rounded mt-4 text-white p-3">
                    <a href="<%= card.link %>" class="text-white"><%= card.tag %></a>
                  </button>
                </div>
              </a>
            </div>
          </div>
          <% }); %>
        </div>

        <!-- About Us -->
        <div class="about-us mt-5 p-3" id="About">
          <h2 style="color: #00060c;">About Us</h2>
          <p class="text_muted">
            At Yiniz, we believe in
            connecting people, providing valuable information, fostering
            learning, and promoting innovation in every aspect of life. Welcome to Yiniz – your gateway to a world of networking,
            information, knowledge, and innovation. 
          </p>
        </div>
      </div>

      <!-- Footer -->
      <footer class="footer mt-5 bg-dark text-light">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <h5 class="btn btn-stripped border-light">Links</h5>
                <h5 class="p-2"><a class="font-weight-bold" href="/ecommerce">Ecommerce</a></h5>
                <h5 class="p-2"><a class="font-weight-bold" href="/blog">News</a></h5>
                <h5 class="p-2"><a class="font-weight-bold" href="/games">Games</a></h5>
                <h5 class="p-2"><a class="font-weight-bold" href="/edu">Edu-Tech</a></h5>
                <h5 class="p-2"><a class="font-weight-bold" href="#">Home</a></h5>
              </ul>
            </div>
            <div class="col-md-5">
              <h5 class="btn btn-stripped border-light">Contact Us</h5>
                <p class="h5 p-3">Ecommerce</p>

                  <p class="p-2"><a href="https://wa.me/2347056311266?text=I'll%20like%20to%20promote%20my%20business%20through%20your%20site" class="text-danger"> Coolbuoy</a></p>
                  </ul>
                <p class="h5 p-3">Blog</p>

                  <p class="p-2"><a href="https://wa.me/2348080120394" class="text-danger "> Albert</a></p>
                  <p class="p-2"><a href="https://wa.me/2349066671261" class="text-danger"> F.O</a></p>
                <p class="h5 p-3">Edu-Tech</p>

                  <p class="p-2"><a href="https://wa.me/2349066671261" class="text-danger "> Maka</a></p>
                <p class="h5 p-3">Games</p>
                  <p class="p-2"><a href="https://wa.me/2348080120394" class="text-danger"> Albert</a></p>
                  <p class="p-2"><a href="https://wa.me/2348025304517" class="text-danger "> F.O</a></p>
                  <p class="p-2"><a href="https://wa.me/2349066671261" class="text-danger "> Maka</a></p>
                  <p class="p-2"><a href="https://wa.me/2347056311266" class="text-danger "> Coolbuoy</a></p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <p>
                &copy; <%= new Date().getFullYear() %> - <%= new
                Date().getFullYear() !== 2024 ? new Date().getFullYear() : '' %>
                Yiniz
              </p>
            </div>
          </div>
        </div>
      </footer>
    </section>

    <script type="module" src="/js/script.js"></script>
    <script></script>
  </body>
</html>
