<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Student Submissions</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/submitAss/styles.css" />
    <style>
      body {
        font-family: "Roboto", sans-serif;
      }
      .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #3949ab;
        color: white;
      }
      .table-container {
        margin: 20px;
      }
      .table-header {
        background-color: #3949ab;
        color: white;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      th,
      td {
        text-align: left;
        padding: 12px;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      .view-file-link {
        color: #3949ab;
        font-weight: bold;
        text-decoration: none;
      }
      .view-file-link:hover {
        text-decoration: underline;
      }
      @media (max-width: 768px) {
        table,
        thead,
        tbody,
        th,
        td,
        tr {
          display: block;
        }
        thead tr {
          display: none;
        }
        tr {
          margin-bottom: 15px;
          border-bottom: 2px solid #ddd;
        }
        td {
          border-bottom: 1px solid #eee;
          position: relative;
          padding-left: 50%;
        }
        td:before {
          position: absolute;
          left: 6px;
          content: attr(data-label);
          font-weight: bold;
        }
      }
    </style>
  </head>
  <body>
    <h1 class="heading">
      Students Submissions
      <button class="btn waves-effect waves-light">
        <a href="/yap/login" style="color: white">Log out</a>
      </button>
    </h1>
    <div class="table-container">
      <ul class="tabs">
        <li class="tab col s3"><a href="#all" class="active">All</a></li>
        <% levels.forEach(level => { %>
        <li class="tab col s3">
          <a href="#<%= level %>lvl"><%= level %>lvl</a>
        </li>
        <% }); %>
      </ul>

      <!-- Tab content for 'All' submissions -->
      <div id="all" class="col s12">
        <table class="striped">
          <thead>
            <tr class="table-header">
              <th scope="col">Full Name</th>
              <th scope="col">Level</th>
              <th scope="col">Submitted File</th>
            </tr>
          </thead>
          <tbody>
            <% submissions.all.forEach(submission => { %>
            <tr>
              <td data-label="Full Name"><%= submission.student_name %></td>
              <td data-label="Level"><%= submission.level %></td>
              <td data-label="Submitted file">
                <a
                  href="/uploads/files/<%= submission.file_path %>"
                  class="view-file-link"
                  >View file</a
                >
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <!-- Tab contents for submissions based on levels -->
      <% levels.forEach(level => { %>
      <div id="<%= level %>lvl" class="col s12">
        <table class="striped">
          <thead>
            <tr class="table-header">
              <th scope="col">Full Name</th>
              <th scope="col">Submitted File</th>
            </tr>
          </thead>
          <tbody>
            <% submissions[level].forEach(submission => { %>
            <tr>
              <td data-label="Full Name"><%= submission.student_name %></td>
              <td data-label="Submitted file">
                <a
                  href="/uploads/files/<%= submission.file_path %>"
                  class="view-file-link"
                  >View file</a
                >
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <% }); %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        // Initialize Materialize tabs
        $(".tabs").tabs();
      });
    </script>
  </body>
</html>
